.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-color: $hero-footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  @extend %container;
}

.logo-footer {
  @extend %logo;

  display: inline-block;
  color: $white-text-color;
  margin: 0 0 20px 0;

  &--accent {
    color: $accent-text-color;
  }
}

.contact-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
