.social-block {
  margin-left: 70px;

  &__tittle {
    @extend %footer-tittle;
  }
}

.company-links {
  @extend %list;

  display: flex;

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms $main-transition-time;

    &:hover,
    &:focus {
      background-color: $main-button-color;
    }
  }

  &__icon {
    fill: $white-text-color;
  }
}

.company-links__item:not(:last-child) {
  margin-right: 10px;
}
.company-links__icon {
  .company-links__social:hover & {
    transform: rotateY(360deg);
    transition: transform 750ms $main-transition-time;
  }
}
