.footer {
  @extend %section;
  background-color: $hero-footer-bg-color;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;
}

.footer-container {
  display: flex;
  @extend %container;
  align-items: center;
}

.logo-footer {
  @extend %logo;

  display: inline-block;
  color: $white-text-color;
  margin: 0 0 20px 0;

  &--accent {
    color: $accent-text-color;
  }
}
