.hero-section {
  background-color: $hero-bgc;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 400px;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./../../images/hero-desk@2x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}

.hero-section__text {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  color: $white-text-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.features.section {
  padding-bottom: 0;
}

.hero-section__button {
  @extend %action-btn;

  &:hover,
  &:focus {
    background-color: $accent-button-color;
    box-shadow: none;
  }
}

@media screen and (min-width: 0px) and (max-width: $tablet) {
  @media screen and (min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../../images/hero-mob.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../../images/hero-mob@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  @media screen and (min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../../images/hero-tab.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../../images/hero-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    height: 600px;
    padding: 118px 0;

    &__text {
      font-size: 44px;
      max-width: 696px;
    }
  }
  @media screen and (min-device-pixel-ratio: 1), (min-resolution: 96dpi) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../../images/hero-desk.jpg);
    }
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../../images/hero-desk@2x.jpg);
    }
  }
}
