.team-social-list {
  @extend %list;

  display: flex;
  width: 206px;
  height: 44px;
  margin: 0;
  padding: 0;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $primery-social-link-color;

    transition: color 250ms $main-transition-time,
      background-color 250ms $main-transition-time;

    &:hover,
    &:focus {
      color: $white-text-color;
      background-color: $main-button-color;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.team-social-list__media:not(:last-child) {
  margin-right: 10px;
}
