.body {
  color: $primary-text-color;
  font-family: $main-font;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.container-mobile {
  max-width: 768px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 0px solid tomato;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.section-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.main-section-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
