.body {
  color: $primery-text-color;
  font-family: $main-font;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 0px solid tomato;
}

.section {
  padding: 94px 0;
}

.section-tittle {
  color: $tittle-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
